In [6]:
import os
import pandas as pd
import numpy as np

In [33]:
import pandas as pd
import glob
import os

# Path to the folder containing the CSV files
directory = "D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment" # i know my directory is bit fcked :D

# Use glob to get a list of all files matching the pattern 'subject-#.csv'
csv_files = glob.glob(os.path.join(directory, "subject-*.csv"))

# Filter out files that contain '_recall' in their names
csv_files = [file for file in csv_files if '_recall' not in os.path.basename(file)]
csv_files = [file for file in csv_files if 'pandasRecall' not in os.path.basename(file)]
# Initialize an empty list to store individual DataFrames
dfs = []

# Loop over the files
for file in csv_files:
    print(file)
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file)

    # Extract the subject number from the file name (assuming format: 'subject-#.csv')
    subject_number = os.path.basename(file).split('-')[1].split('.')[0]

    # Add a new column for the subject number
    df['subject'] = subject_number

    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-0.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-1.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-10.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-11.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-12.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-13.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-14.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-2.csv
D:/RUG/Term 3/ScientificVisualization/user-modelling-project-apples-2/experiment\subject-3.csv

In [36]:
combined_df.to_csv("combined_data.csv")

In [37]:
combined_df

,trial,start_time,rt,correct,time_bar,keyboard_response,new,on_time,expected_rt,time_bar_visible,fact_id,question,answer,alpha,subject
0,1,118820.13440004084,4883.936600002926,False,15000.0,NaN,True,True,inf,True,50,ujuzi,knowledge,0.3,0
1,2,126047.07490000874,1646.066899993457,True,7217.064756936508,knowledge,False,True,2110.032378468254,True,50,ujuzi,knowledge,0.3,0
2,3,132362.35030001262,4523.2601999887265,False,15000.0,NaN,True,True,inf,True,54,degaga,glasses,0.3,0
3,4,139224.719299993,1297.6233000517823,True,6495.2832999710945,glasses,False,True,2082.1416499855472,True,54,degaga,glasses,0.3,0
4,5,144304.73080003867,4968.492799962405,False,15000.0,NaN,True,True,inf,True,22,kazi,work,0.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,37,775908.472900046,5449.62900003884,False,15000.0,NaN,True,True,inf,True,46,kofia,hat,0.3,3
810,38,783703.6204000469,3157.001500017941,False,15000.0,NaN,True,True,inf,True,71,maziwa,milk,0.3,3
811,39,789201.9464999903,1368.4709999943152,True,5945.31840454242,hat,False,True,2473.15920227121,True,46,kofia,hat,0.3,3
812,40,793400.6164000602,778.7601000163704,True,5885.858844162206,milk,False,True,2276.929422081103,True,71,maziwa,milk,0.3,3
813,41,797265.6417000107,1740.415700012818,True,7555.978284850239,scissors,False,True,2445.9891424251196,True,45,chanjo,scissors,0.43085937499999993,3